*{
  box-sizing: border-box;
  font-family: Andalus;
}

body{
  background-color: #202020;
  font-family: 'lato', sans-serif;
  font-size: 1em;
  color: black;
  }
  ::selection{
    background-color: #FF3399;
  }

.tabbed{
  width: 1370px;
  margin: 50px auto;
}

.tabbed > input{
  display: none;
}

.tabbed > label{
  display: black;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label{
    background-color: #FF3399;
}

.tabs{
  clear: both;
  perspective: 600px;
}

.tabs > div{
  width: 1370px;
  position: absolute;
  border: 2px solid #FF3399;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  z-index: 0;
  transform: rotatex(20deg);
  transform-origin: top center;
  transition: opacity 0.3s, transform 1s;
}

#tab_one:checked ~ .tabs > div:nth-of-type(1),
#tab_two:checked ~ .tabs > div:nth-of-type(2),
#tab_three:checked ~ .tabs > div:nth-of-type(3){
  transform: rotatex(0deg);
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 700px){
  .tabbed{
    width: 400px;
  }
  .tabbed > label{
    display: none;
  }
  .tabs > div{
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }

  .tabs > div h2{
    border-bottom: 2px solid#FF3399;
    padding-bottom: 0.5em;
  }
}
.tab1{
text-align: center;
}
body{
margin: 0;
padding: 0;
font-family: "montserrat";
background-image: linear-gradient(125deg,#FF9999,#FFC299,#FFFF99,#99FFBB,#99CCFF,#FFB3FF,#FFB3D1,#F0B3FF);
background-size: 400%;
animation: bganimation 15s infinite;
}
.text{
  color:black ;
  text-align: center;
  text-transform: uppercase;
  margin: 350px 0;
  font-size: 22px
}

@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.Bio{
  font-size: 20px;
  text-align: justify;
}
.Zahra{
  font-size: 30px;
  font-weight: bold;
}
